<div class="jumbotron text-center">
    <h1 class="display-4" style="color:grey"> Vaccine Details</h1>
    <!-- <p class="lead">
        This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>
    It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a 
      class="btn btn-primary btn-lg" href="#" role="button">
          Learn more</a>
    </p> -->

    <div class="ui compact menu  lead text-center" style="width:60vw;" >
      <a class="item "  style="width:50%;" routerLink="./pincode">
        Pincode
      </a>
      <!-- <div class="link item"> -->
        <a class="item "  style="width:50%;" routerLink="./district">
          District
        </a>
      <!-- </div> -->
    </div>

  </div>
  <router-outlet></router-outlet>
