

  <div class="row mx-auto d-flex justify-content-center">
    <div class="col-lg-4 col-sm-12 col-md-6">
      <div class="card ">
        <div class="ui yellow statistic">
          <div class="label">
            <h3>Total Recovered</h3>
          </div>
          <div class="value">
            {{ TotalRecovered}}
          </div>
  
        </div>
      </div>

    </div>
   
    <div class="col-lg-4 col-sm-12 col-md-6">
    <div class="card">
      <div class="ui orange statistic">
        <div class="label">
          <h3>Total Confirmed</h3>
        </div>
        <div class="value">
          {{TotalConfirmed}}
        </div>

      </div>
    </div>
    </div>

 <div class="col-lg-4 col-sm-12 col-md-6">
    <div class="card">
      <div class="ui red statistic">
        <div class="label">
          <h3>
            TotalDeaths
          </h3>
        </div>
        <div class="value">
          {{TotalDeaths}}
        </div>
      </div>
    </div>
    </div>


  </div> 